{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<title>Adi's Website</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{%static 'style(remake).css' %}">
    <link href="https://fonts.googleapis.com/css?family=Nunito:400,600,700,800,900&display=swap" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="{%static 'images/NftAdi(icon).ico' %}">
</head>
<body>
	<div class="header">
     <div class="navbar">
         <div class="logo">
             <a href=""><img src="{%static 'images/devlogo1.png' %}"></a>
         </div>
         <div class="menu">
             <ul>
                 <li><a href="/projects">Project.()</a></li>
                 <li><a href="/admin">Admin.()</a></li>
                 <li><a href="/accounts">Contacts.()</a></li>
             </ul>  
         </div>
         <div class=""></div>
     </div>   

     <div class="banner">
         <div class="app-text">
             
            
             <h1>Λbout.()</h1>
             <p>My name is VishalAdithya.A I am a beginner level Developer from India</p>

             <div class="btn-group">
                 <div class="signup-btn">
                <a href="https://discord.gg/3AtjyKHvy8">print('Discord!')</a>

                </div>
                 <div class="play-btn">
                     <div class="play-btn-inner">
                            <i class="fa fa-play"></i>
                     </div>
                     <span><a href="https://github.com/LovelyAdi">Print("GitHub!")</a></span>
                 </div>
             </div>
         </div>
         <div class="app-picture">
             <img src="">
         </div>
     </div>

     <div class="about-services">
         <ul>
             <li>
                 <img src="{%static 'images/1.png' %}">
                 <h1>Python.()</h1>
                 <p>The first coding language I learn is python</p>
             </li>
             <li>
                 <img src="{%static 'images/2.png' %}">
                 <h1>DesktopGUI.()</h1>
                 <p>Worked with a lot of DesktopGUI projects using tkinter</p>
             </li>
             <li>
                 <img src="{%static 'images/3.png' %}">
                 <h1>WebAppDeveloper.()</h1>
                 <p>A beginner level WebApp Developer woking with django module</p>
             </li>
         </ul>
     </div>

     <div class="social-icons">
         <ul>
            <li><a href="https://www.facebook.com/profile.php?id=100065308023210"><i class="fa fa-facebook"></i></a></li>
            <li><a href="https://www.instagram.com/_vishaladithya_/"><i class="fa fa-instagram"></i></a></li>
         </ul>
     </div>
    </div>
</body>
</html>